:root {
  --title: #FFFFFF;
  --item-bg: #131E27;
  --body: #1C2E3B;
  --fill: #0B0E13;
  --blue: #17D0FA;
  --dirtyblue: #17D0FADD;
  --text: rgba(243, 243, 243, 0.7);
  --white: rgba(243, 243, 243, 0.8);
  --darktext: rgba(243, 243, 243, 0.4);
  --darkness: rgba(19, 30, 39, 0.3);
  --purple: rgb(123, 97, 255);
  --map: #000000;
  --stroke: #17D0FA
}

:root .light {
  --title: #17D1FB;
  --item-bg: #F4F4F4;
  --body: #F8F8F8;
  --fill: #FFFFFF;
  --blue: #17D0FA;
  --dirtyblue: #17D0FADD;
  --text: #4E4E4EBB;
  --white: rgba(243, 243, 243, 0.8);
  --darktext: rgba(243, 243, 243, 0.4);
  --darkness: rgba(19, 30, 39, 0.05);
  --purple: rgb(123, 97, 255);
  --map: #F8F8F8;
  --stroke: #0B0E13;
}

.light .container {
  box-shadow: 0 0 20px 2px #C4C4C444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  border: 1px solid transparent;
  cursor: default;
  position: relative;
}

button,
select,
button img,
button object {
  cursor: pointer;
}

button {
  background: transparent;
  color: var(--blue);
  outline: none;
  border: none;
}

body {
  position: relative;
  width: 1024px;
  height: 768px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  font-family: Roboto, Arial, sans-serif;
  background: var(--body);
  overflow-x: hidden;
  column-gap: 2px;

  display: grid;
  grid-template-areas:
    "header header header"
    "global-cases map death-cases"
    "country-cases map death-cases"
    "country-cases map recovery-cases"
    "country-cases map graph"
    "date map graph"
    "footer footer footer"
}

/*Common*/
.heading {
  color: var(--text);
  font-size: 11px;
}

.counter,
.update-time {
  color: var(--blue);
  margin-right: 7px;
}

.full-screen-btn {
  position: absolute;
  top: 4px;
  right: 7px;
  transition: 0.1s all;
}

.close-btn {
  position: absolute;
  top: 4px;
  right: 5px;
  width: 12px;
  height: 12px;
  transition: 0.1s all;
  opacity: 0.9;
}

.close-btn:hover {
  opacity: 1;
}

.full-screen-btn:hover {
  transform: scale(1.2);
}

.dropdown {
  background: transparent;
  border: none;
  outline: none;
  color: var(--text);
  font-size: 11px;
  line-height: 13px;
}

.scroll-container {
  margin-top: 5px;
  width: 220px;
  height: 322px;
  overflow-y: scroll;
}

.list ul {
  margin-top: 4px;
  list-style: none;
}

.list li {
  min-width: 206px;
  min-height: 28px;
  background: var(--item-bg);
  color: var(--text);
  margin-top: 4px;
  padding: 5px 32px 5px 7.62px;
  border-radius: 6px;
}

.list li:hover {
  border: 1px solid var(--purple);
}

.icon:hover {
  filter: invert(100%) saturate(2878%) hue-rotate(170deg) brightness(104%) contrast(100%);
}

.container_s ul li,
.container_m ul li {
  width: 96%
}

/* Search */
.search {
  max-width: 212px;
}

.search .input {
  border-radius: 6px;
}

.input {
  width: 100%;
  padding-right: 9px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background: var(--darkness);
}

.input img {
  margin-right: 10px;
}

.input input {
  min-height: 24px;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text);
  padding: 6px;
  font-size: 8px;
  width: 90%;
}

.input input::placeholder {
  color: var(--text);
}

.search {
  margin-top: 5px;
  width: 206px;
  display: flex;
  justify-content: flex-end;
  opacity: 0.7;
}

.search:hover {
  opacity: 1;
}

input:focus::placeholder {
  color: transparent;
}

.search button {
  width: 10px;
  height: 10px;
}

/* Header */
.header {
  position: relative;
  min-height: 90px;
  padding: 5px;
  background: var(--body);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  grid-area: header;
}

.header-title {
  width: 320px;
  color: var(--title);
  font-size: 29.5px;
}

.header-subtitle {
  width: 320px;
  color: var(--text);
  font-size: 11px;
}

/* Container sizes */
.container {
  position: relative;
  min-width: 248px;
  min-height: 83px;
  background: var(--fill);
  border-radius: 6px;
  margin: 2px auto;
  padding: 14px 18px 16px 18px;
  border: 1px solid transparent;
  z-index: 0;
}

.container:hover {
  border: 1px solid var(--fill);
}

.container_xs {
  width: 248px;
  min-height: 83px;
}

.container_s {
  width: 278px;
  min-height: 189px;
}

.container_m {
  width: 248px;
  min-height: 402px;
}

.container_l {
  width: 437px;
  min-height: 580px;
}

/* Grids Area Names */
.global-cases {
  grid-area: global-cases;
  min-height: 86px;
}

.country-cases {
  grid-area: country-cases;
}

.date {
  grid-area: date;
}

.map {
  grid-area: map;
}

.death-cases {
  grid-area: death-cases;
  min-height: 200px;
}

.recovery-cases {
  grid-area: recovery-cases;
}

.graph {
  grid-area: graph;
  overflow: hidden;
}

/* Global Cases */
.global-cases {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.global-cases-heading {
  font-size: 11px;
  line-height: 13px;
}

.global-cases-counter {
  font-size: 34px;
  color: var(--blue);
  margin-top: 2px;
}

/* Date */
.date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.update-date {
  margin-top: 5px;
}

/* Map */
.map-search {
  position: absolute;
  top: 24px;
  right: 22px;
  width: 140px;
}

.map,
.graph {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.map-intaractive-content {
  position: relative;
  margin-top: 27px;
  width: 100%;
  min-height: 510px;
  max-height: 540px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: var(--map);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.map-svg {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  z-index: 0;
}

.map-svg svg {
  position: absolute;
  min-width: 1000px;
  width: 1000px;
  user-select: none;
  cursor: grab;
  z-index: 1;
  box-shadow: 0 0 1px 0.1px var(--purple)
}

.map-svg::-webkit-scrollbar {
  display: none;
}

.bookmark,
.legend,
.basemaps {
  position: absolute;
  bottom: 46px;
  right: 17px;
  min-width: 248px;
  max-width: 248px;
  min-height: 83px;
  background: var(--fill);
  border-radius: 6px;
  margin: 2px;
  padding: 14px 18px 16px 18px;
  border: 1px solid transparent;
}

.bookmark .scroll-container,
.basemaps .scroll-container {
  height: 100px;
}

.legend .scroll-container {
  height: 65px;
}

.bookmark-county-list li,
.legend-list li {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 8px;
  line-height: 8px;
  color: var(--text);
  cursor: pointer;
}

.bookmark-county-list li:hover,
.legend-list li:hover {
  color: var(--dirtyblue);
}

.legend-heading {
  margin-bottom: 7px;
  font-size: 12px;
  line-height: 8px;
  color: var(--text);
}

.legend-subheading {
  margin-top: 12px;
  margin-bottom: 7px;
  font-size: 14px;
  line-height: 8px;
  color: var(--text);
}

.legend-confirm {
  margin-top: 12px;
  margin-bottom: 7px;
  font-size: 8px;
  line-height: 8px;
  color: var(--text);
}

.map-zoom-in-out {
  position: absolute;
  left: 18px;
  bottom: 12px;
  width: 32px;
  height: 70px;
  background: var(--item-bg);
  border-radius: 6px;
  margin: 2px;
  border: 1px solid transparent;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.map-zoom-in-out button:active {
  transform: scale(0.9);
  transition: 0.1s transform;
}

.map-zoom-in-out button {
  font-size: 28px;
}

.zoom-out {
  color: var(--text)
}

.bookmark-select-panel {
  position: absolute;
  right: 22px;
  bottom: 11px;
  width: 96px;
  height: 32px;
  background: var(--item-bg);
  border-radius: 6px;
  margin: 2px;
  border: 1px solid transparent;
  display: flex;
  justify-content: space-around;
}

.bookmark-select-panel button {
  width: 33%;
}

.legend .ellipse {
  border-radius: 50%;
  background: var(--blue);
  margin-right: 10px;
}

.ellipse100 {
  width: 16px;
  height: 16px;
}

.ellipse50 {
  width: 14px;
  height: 14px;
}

.ellipse10 {
  width: 12px;
  height: 12px;
}

.ellipse5 {
  width: 10px;
  height: 10px;
}

.basemaps-list ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
}

.basemaps-list ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  display: block;
  position: relative;
  width: 82px;
  height: 48px;
  border-radius: 6px;
  border: 1px solid transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
}

[data-map-style="standard"] .box {
  background-image: url('assets/img/standard.jpg');
}

[data-map-style="blue"] .box {
  background-image: url('assets/img/blue.jpg');
}

[data-map-style="contrast"] .box {
  background-image: url('assets/img/contrast.jpg');
}

[data-map-style="blue2"] .box {
  background-image: url('assets/img/blue2.jpg');
}

.light [data-map-style="standard"] .box {
  background-image: url('assets/img/light/standard.jpg');
}

.light [data-map-style="blue"] .box {
  background-image: url('assets/img/light/blue.jpg');
}

.light [data-map-style="contrast"] .box {
  background-image: url('assets/img/light/contrast.jpg');
}

.light [data-map-style="blue2"] .box {
  background-image: url('assets/img/light/blue2.jpg');
}

.box img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.box:hover {
  border: 1px solid var(--blue);
}

.basemaps-item {
  font-size: 8px;
  line-height: 8px;
  color: var(--text);
}

/* Deaths Recovery Cases */
.container_s .scroll-container {
  width: 250px;
  height: 104px;
}

.death-cases-list .counter-value {
  font-size: 8px;
  line-height: 8px;
  color: var(--text);
  opacity: 0.7;
}

.death-cases-list .country {
  font-size: 8px;
  line-height: 8px;
  color: var(--text);
}

.global-counter_deaths,
.global-counter_recovery {
  font-size: 26px;
  color: var(--title);
  display: flex;
  align-items: center;
  row-gap: 8px;
}

.global-counter_recovery img {
  width: 24px;
  margin-left: 10px;
}

.recovery-cases-list .counter-value,
.recovery-cases-list .counter {
  font-size: 16px;
  line-height: 10px;
  color: var(--blue);
  margin-left: 4px;
}

.recovery-cases-list .counter-recovered,
.recovery-cases-list .counter-recovered-value,
.recovery-cases-list .city,
.recovery-cases-list .country {
  font-size: 10px;
  line-height: 10px;
  color: var(--text);
  margin-left: 2px;
}

.recovery-cases-list .country {
  font-size: 8px;
  line-height: 8px;
  color: rgba(243, 243, 243, 0.9);
}

.graph {
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.graph .heading {
  width: 90%;
  margin: 0 auto 8px;
  display: flex;
  justify-content: space-between;
}

.chart {
  width: 100%;
  height: 100%;
}

.graph button {
  background: transparent;
  color: var(--blue);
  outline: none;
  border: none;
  margin: 0 10px;
}

/* Footer */
footer {
  width: 100%;
  max-width: 978px;
  min-height: 60px;
  height: 70px;
  margin-top: 5px;
  background: var(--body);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  grid-area: footer;
  z-index: 0;
}

.logo {
  margin-right: 10px;
}

.logo pre {
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  color: var(--blue);
  font-size: 20px;
  letter-spacing: -2px;
  line-height: 18px;
  -webkit-text-stroke: 0.5px var(--blue);
  cursor: pointer;
}

.logo pre:hover {
  -webkit-text-stroke: 0.5px #178CFA;
}

footer {
  display: flex;
  align-items: center;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #83888D;
  font-size: 11px;
  line-height: 11px;
  transition: 0.1s filter;
}

footer ul li a:hover {
  filter: invert(100%) saturate(2878%) hue-rotate(165deg) brightness(120%) contrast(100%);
}

footer ul li a .icon-github {
  margin-right: 6px;
}

footer ul li {
  list-style: none;
  margin-right: 30px;
}

.github-links {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.year {
  color: var(--blue);
  font-size: 14px;
  margin-right: 50px;
}

/* Modal Window */
.modal-window {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  display: none;
  z-index: 9;
  padding: 0;
}

.active {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1040px) {
  body {
    justify-content: center;
    width: 100%;
    max-width: 1640px;
    height: 768px;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas:
      "header header header"
      "global-cases map death-cases"
      "country-cases map death-cases"
      "country-cases map recovery-cases"
      "country-cases map graph"
      "date map graph"
      "footer footer footer"
  }

  footer {
    max-width: 100%;
  }

  .container {
    min-width: 25%;
    overflow: hidden;
  }

  .container_l {
    width: 99.5%;
    height: calc(80vh - 100vh/50%);
    min-height: 600px;
  }
}

@media screen and (max-width: 1023px) {
  body {
    width: 100%;
    height: auto;
    grid-template-areas:
      "header header"
      "map map"
      "global-cases death-cases"
      "country-cases death-cases"
      "country-cases recovery-cases"
      "country-cases graph"
      "date graph"
      "footer footer"
  }

  li,
  .wrapper .scroll-container {
    width: 98% !important;
  }

  .container {
    width: 99.2%;
    padding-right: 2px;
  }

  .container_l {
    width: 99.2%;
    padding-right: 18px;
  }

  .full-screen-btn {
    left: 95.4%;
  }

  .map {
    width: 100%;
  }

  .year {
    margin-right: 10px;
  }

  .modal-window {
    right: 0;
    left: -1px;
  }

  footer {
    height: auto;
  }

}

.full {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px 57px 20px;
}

.full .map-intaractive {
  height: 95vh;
}

.full .map-intaractive-content {
  max-height: 85vh;
}

.full .wrapper {
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.full .wrapper .scroll-container {
  width: 100%;
  height: 85vh
}

.full .bookmark .scroll-container,
.full .basemaps .scroll-container {
  height: 100px;
}

.full .legend .scroll-container {
  height: 66px;
}

.full .legend .scroll-container li,
.full .bookmark .scroll-container li {
  width: 96%;
}

.map-intaractive {
  display: flex;
  justify-content: flex-start;
}

.full .map-area {
  width: 100%;
}

.full .global-cases-heading,
.full .date-heading {
  font-size: 22px;
  margin-bottom: 10px;
}

.full .global-cases-counter,
.full .update-time {
  font-size: 68px;
}

.full li,
.full .wrapper .scroll-container {
  width: calc(100% - 12px) !important;
}

.map-nav {
  display: none;
}

.visible {
  display: block;
}

.hide {
  display: none;
}

.active-country {
  fill: #17D0FA;
}


#blue .active-country {
  fill: #999;
  stroke: #fff;
}

#standard .active-country,
.light #standard .active-country {
  fill: #17D0FA;
}

#blue > * {
  fill: #17D0FADD;
  stroke: #000;
}

#blue2 > * {
  stroke: #fff;
}

.light #blue2 > * {
  stroke: #fff;
  fill: var(--blue);
  stroke-width: 3;
}

#blue2 .active-country {
  fill: #ddd;
}

#blue2 {
  background-color: var(--item-bg);
}

#contrast {
  stroke-width: 2;
}

#standard {
  stroke-width: 0.3;
}

#standard > * {
  stroke: #17D0FA;
  fill: transparent;
}

.light #standard > * {
  stroke: #111;
  fill: transparent;
}

.light #standard > * {
  stroke: #111;
  fill: transparent;
}

@media screen and (max-width: 700px) {
  body {
    grid-template-areas:
      "header"
      "map"
      "global-cases"
      "country-cases"
      "date"
      "death-cases"
      "recovery-cases"
      "graph"
      "footer"
  }

  .container {
    width: 100%;
  }

  .map {
    width: 100%;
  }

  .github-links ul,
  .github-links ul li a {
    font-size: 14px;
  }

  .full {
    padding: 10px 4px 10px 20px;
  }

  .map.full {
    padding: 10px 20px;
  }
}

.flag {
  width: 16px;
  position: absolute;
  right: 8px;
}

.flag-copy {
  color: #aaa;
  font-size: 8px;
  float: right;
  padding: 8px;
}

.chart {
  fill: transparent;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
}
